# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Local database / Docker logs
volumes/
*.log
test_sdk.py
test_ingestion.py

